<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="coms.Doctor" id="doctor">
        <!-- Must create Constructor. Will map to first property -->
        <constructor-arg value="MMBS"></constructor-arg>
<!--        <property name="qualification" value="MBBS"></property>-->
<!--        <property name="nurse" ref="nurse"></property>-->
    </bean>
    <bean class="coms.Nurse" id="nurse"></bean>

</beans>